*.pyc
__pycache__/
.mypy_cache/
.idea/

# Jekyll stuff
.sass-cache
.jekyll-cache/
_site/
# Hurl generated stuff
sites/hurl.dev/_includes/grammar.html
sites/hurl.dev/assets/data/index.json

# Python stuf
.venv/
