<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="alternate" href="https://hurl.dev/blog/feed.xml" type="application/atom+xml" title="Hurl Blog RSS"/>
    </head>
    <body>
        <div>
            {% include top-nav.html docs=site.data.docs title=page.title%}
            <div class="blog">

                {% if page.indexed == nil %}
                    {% assign indexed = "true" %}
                {% elsif page.indexed %}
                    {% assign indexed = "true" %}
                {% else %}
                    {% assign indexed = "false" %}
                {% endif %}

                <div class="blog-content" data-section="{{ page.section }}" data-indexed="{{ indexed }}">
                    {{ content }}
                </div>
                <div class="blog-footer">
                    <div class="blog-feed-link">
                         <span class="svg-icon"><svg viewBox="0 0 448 512" width="18" height="18"><use href="#rss"></use></svg></span>&nbsp;<a href="https://hurl.dev/blog/feed.xml">RSS feed</a>
                    </div>

                    {% include footer.html %}
                </div>
            </div>
        </div>
        <div class="u-invisible">
            {% include rss-icon.svg %}
        </div>
    </body>
</html>