<!doctype html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="wrapper">
            {% include top-nav.html docs=site.data.docs title=page.title%}

            <div class="doc">

                {% include side-nav.html docs=site.data.docs title=page.title%}

                <div class="doc-content indexed">

                    {{ content }}

                    <div class="doc-content-edit-page">
                        <a href="https://github.com/Orange-OpenSource/hurl-dev/edit/master/sites/hurl.dev/{{ page.path }}">Edit this page</a>
                    </div>

                    <div class="doc-content-browse">

                        {% assign cur = false %}
                        {% assign prev = false %}
                        {% assign next = false %}
                        {% for li0 in site.data.docs %}
                        {% for li1 in li0.items %}

                        {% if cur and next == false %}
                        {% assign next = li1 %}
                        {% capture next_url %}/docs/{{ li1.title | slugify }}.html{% endcapture %}
                        {% endif %}

                        {% if li1.title == page.title %}
                        {% assign cur = li1 %}
                        {% endif %}

                        {% unless cur %}
                        {% assign prev = li1 %}
                        {% capture prev_url %}/docs/{{ li1.title | slugify }}.html{% endcapture %}
                        {% endunless %}

                        {% endfor %}
                        {% endfor %}

                        {% if prev %}
                        {% unless prev.url %}
                        <div class="doc-content-browse-previous"><a href="{{ prev_url | prepend: site.baseurl }}">< {{ prev.title }}</a></div>
                        {% endunless %}
                        {% endif %}
                        {% if next %}
                        {% unless next.url %}
                        <div class="doc-content-browse-next"><a href="{{ next_url | prepend: site.baseurl }}">{{ next.title }} ></a></div>
                        {% endunless %}
                        {% endif %}
                    </div>

                </div>

                <div class="doc-toc u-d-block-lg">
                    {% for li0 in site.data.docs %}
                    {% for li1 in li0.items %}
                    {% if li1.title != page.title %}
                    {% continue %}
                    {% endif %}
                    {% unless li1.items %}
                    {% continue %}
                    {% endunless %}
                    <h3>TABLE OF CONTENTS</h3>
                    <ul>
                        {% for li2 in li1.items %}
                        <li>
                            {% capture li2_url %}/docs/{{ li1.title | slugify }}.html#{{ li2.title | slugify }}{% endcapture %}

                            <a href="{{ li2_url | prepend: site.baseurl }}">{{ li2.title }}</a>

                            {% unless li2.items %}
                        </li>
                        {% continue %}
                        {% endunless %}
                        <ul>
                            {% for li3 in li2.items %}

                            {% capture li3_url %}/docs/{{ li1.title | slugify }}.html#{{ li3.title | slugify }}{% endcapture %}

                            <li><a href="{{ li3_url | prepend: site.baseurl }}">{{ li3.title }}</a>

                                {% unless li3.items %}
                            </li>       {% continue %}
                            {% endunless %}

                            <ul>
                                {% for li4 in li3.items %}
                                {% capture li4_url %}/docs/{{ li1.title | slugify }}.html#{{ li4.title | slugify }}{% endcapture %}
                                <li><a href="{{ li4_url | prepend: site.baseurl }}">{{ li4.title }}</a></li>
                                {% endfor %}
                            </ul>
                            </li>
                            {% endfor %}
                        </ul>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include footer.html %}

    </body>
</html>
