<!doctype html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="wrapper">
            {% include top-nav.html docs=site.data.docs title=page.title%}

            <div class="home">

                {% include side-nav.html docs=site.data.docs title=page.title%}

                <div class="home-content" data-section="{{ page.section }}" data-indexed="true">
                    {{ content }}
                </div>


            </div>

        </div>
        {% include footer.html %}
    </body>
</html>