<!doctype html>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="stylesheet" type="text/css" href="{{ '/assets/css/asciinema-player.css' | prepend:site.baseurl }}?{{site.env.CI_COMMIT_SHORT_SHA}}" />
    </head>
    <body>
        <div>
            {% include top-nav.html docs=site.data.docs title=page.title%}

            <div class="home">

                {% include side-nav.html docs=site.data.docs title=page.title%}

                <div class="home-content" data-section="{{ page.section }}" data-indexed="true">
                    <div class="home-content-col">
                        {{ content }}
                        <div class="home-footer">
                            {% include footer.html %}
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <script src="{{ '/assets/js/asciinema-player.min.js' | prepend:site.baseurl }}"></script>
        <script>
            AsciinemaPlayer.create('/assets/cast/hurl.cast', document.getElementById('demo'), {
                loop: true,
                speed: 3,
                theme: "asciinema",
                poster: "npt:1:00",
            });
        </script>
    </body>
</html>