<!doctype html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="wrapper">
            {% include top-nav.html docs=site.data.docs title=page.title%}

            <div class="home">

                {% include side-nav.html docs=site.data.docs title=page.title%}

                <div class="home-content" data-section="{{ page.section }}" data-indexed="true">
                    <div class="home-content-col">
                        {{ content }}
                        <div class="home-footer">
                            {% include footer.html %}
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </body>
</html>