<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/asciinema-player.css' | prepend:site.baseurl }}?{{site.env.CI_COMMIT_SHORT_SHA}}" />
</head>
<body>
<div>
    {% include top-nav.html docs=site.data.docs title=page.title%}

    <div class="player">

        <div class="player-content" data-indexed="false">
            {{ content }}
        </div>

        <div class="player-footer">
            {% include footer.html %}
        </div>
    </div>

</div>
<script src="{{ '/assets/js/asciinema-player.min.js' | prepend:site.baseurl }}?{{site.env.CI_COMMIT_SHORT_SHA}}"></script>
<script src="{{ '/assets/js/player.js' | prepend:site.baseurl }}?{{site.env.CI_COMMIT_SHORT_SHA}}"></script>
</body>
</html>