<!doctype html>
<html>
    <head>
        {% include head.html %}
        <script type="text/javascript" src="{{ '/assets/js/search.js' | prepend:site.baseurl }}?{{site.env.CI_COMMIT_SHORT_SHA}}"></script>
    </head>
    <body>

        <div class="wrapper">
            {% include top-nav.html docs=site.data.docs title=page.title%}
            <div class="search">
                {{ content }}
            </div>
        </div>

        <div class="search-footer">
            {% include footer.html %}
        </div>
    </body>
</html>