<!doctype html>
<html>
    <head>
        {% include head.html %}
        <script type="text/javascript" src="{{ '/assets/js/search.js' | prepend:site.baseurl }}?{{site.env.CI_COMMIT_SHORT_SHA}}"></script>
        <script type="text/javascript">
            const version = "{{site.env.CI_COMMIT_SHORT_SHA}}";
            const search = new Search("search-input", "search-results", "results");
            search.loadIndex(version);
            window.hurl = {};
            window.hurl.search = search;
        </script>
    </head>
    <body>

        <div class="wrapper">
            {% include top-nav.html docs=site.data.docs title=page.title%}
            <div class="search">
                <div class="search-content">
                    {{ content }}
                </div>

                <div class="search-footer">
                    {% include footer.html %}
                </div>
            </div>
        </div>

    </body>
</html>