<div class="common-nav">
    <div>
        {% if page.url != "/" %}
        <div class="logo">
            <a href="{{ "/" | relative_url }}" alt="Hurl">
                <picture>
                    <source srcset="{{ '/assets/img/logo-dark.svg' | prepend:site.baseurl }}" media="(prefers-color-scheme: dark)" width="80px">
                    <img src="{{ '/assets/img/logo-light.svg' | prepend:site.baseurl }}" width="80px">
                </picture>
            </a>
        </div>
        {% endif %}

        <div class="links">
            <nav>
                <div class="link menu-md">
                    <a href="{{ "/" | relative_url }}" {% if page.url == "/" %}class="current"{% endif %} alt="Home">Home</a>
                </div>
                <div class="link menu-md">
                    <a href="{{ "/docs/man-page.html" | relative_url }}" {% if page.url contains "/docs" %}class="current"{% endif %} alt="Docs">Docs</a>
                </div>
                <div class="link menu-md">
                    <a href="https://github.com/fabricereix/hurl" alt="GitHub">GitHub</a>
                </div>
                <div class="link">
                    <i class="fa fa-search">&nbsp;<a class="search_link" href="{{ "/search.html" | relative_url }}" alt="Search"></i>Search</a></div>
                <div class="link menu-sm">
                    <i class="fa fa-bars"></i>&nbsp;<a class="menu_link" href="#" alt="Menu" onclick="toggleMenu()">Menu</a>
                </div>
            </nav>
        </div>
    </div>

    <div id="menu" class="toc-toplevel">
        {% for li0 in include.docs %}
        <h3>{{ li0.title }}</h3>
        <ul>
            {% for li1 in li0.items %}
            <li>
                {% capture url %}/docs/{{ li1.title | slugify }}.html{% endcapture %}
                <a {% if li1.title == include.title %}class="current"{% endif %} href="{{ url | prepend: site.baseurl }}">{{ li1.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}

    </div>

</div>