{% for li0 in include.docs %}
{% for li1 in li0.items %}
{% if li1.title != include.title %}
{% continue %}
{% endif %}
{% unless li1.items %}
{% continue %}
{% endunless %}
<h3>TABLE OF CONTENTS</h3>
<ul>
    {% for li2 in li1.items %}
    <li>
        {% capture li2_url %}{{ li0.path }}{{ li1.title | remove: "'" | slugify }}.html#{{ li2.title | remove: "'" | remove: "/" | slugify }}{% endcapture %}

        <a href="{{ li2_url | prepend: site.baseurl }}">{{ li2.title }}</a>

        {% unless li2.items %}
    </li>
    {% continue %}
    {% endunless %}
    <ul>
        {% for li3 in li2.items %}

        {% capture li3_url %}{{ li0.path }}{{ li1.title | remove: "'" | slugify }}.html#{{ li3.title | remove: "'" | remove: "/" | slugify }}{% endcapture %}

        <li><a href="{{ li3_url | prepend: site.baseurl }}">{{ li3.title }}</a>

            {% unless li3.items %}
        </li>       {% continue %}
        {% endunless %}

        <ul>
            {% for li4 in li3.items %}
            {% capture li4_url %}{{ li0.path }}{{ li1.title | remove: "'" | slugify }}.html#{{ li4.title | | remove: "'" | remove: "/" | slugify }}{% endcapture %}
            <li><a href="{{ li4_url | prepend: site.baseurl }}">{{ li4.title }}</a></li>
            {% endfor %}
        </ul>
        </li>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
</ul>
{% endfor %}
{% endfor %}
