<div class="top-nav u-drop-shadow">

    <div class="top-nav-header">
        <div class="top-nav-logo">
            <a href="{{ "/" | relative_url }}">
                <div class="top-nav-logo-img">
                    <img class="u-theme-light" src="{{ '/assets/img/logo-light.svg' | prepend:site.baseurl }}" alt="Hurl home page">
                    <img class="u-theme-dark" src="{{ '/assets/img/logo-dark.svg' | prepend:site.baseurl }}" alt="Hurl home page">
                </div>
            </a>
        </div>

        <nav>
            <div class="top-nav-links">
                <div class="top-nav-link u-d-block-md">
                    <a class="top-nav-link-a" href="{{ "/" | relative_url }}" aria-selected={% if page.url == "/" %}"true"{% else %}"false"{% endif %} alt="Home"><span class="u-underline">Home</span></a>
                </div>
                <div class="top-nav-link u-d-block-md">
                    <a class="top-nav-link-a" href="{{ "/docs/manual.html" | relative_url }}" aria-selected={% if page.url contains "/docs" %}"true"{% else %}"false"{% endif %} alt="Docs"><span class="u-underline">Docs</span></a>
                </div>
                <div class="top-nav-link u-d-block-md">
                    <a class="top-nav-link-a" href="{{ "/blog/" | relative_url }}" aria-selected={% if page.url contains "/blog" %}"true"{% else %}"false"{% endif %} alt="Docs"><span class="u-underline">Blog</span></a>
                </div>
                <div class="top-nav-link u-d-block-md">
                    <a class="top-nav-link-a" href="https://github.com/Orange-OpenSource/hurl" alt="GitHub">
                        <span class="svg-icon"><svg viewBox="0 0 496 512" width="18" height="18"><use href="#github"></use></svg>&nbsp;</span>
                        <span class="u-underline">GitHub</span>
                    </a>
                </div>
                <div class="top-nav-link u-d-block-md">
                    <a class="top-nav-link-a u-pointer" role="button" alt="Theme" id="theme-toggle"></a>
                </div>
                <div class="top-nav-link">
                    <a class="top-nav-link-a" href="{{ "/search.html" | relative_url }}" aria-selected={% if page.url contains "/search" %}"true"{% else %}"false"{% endif %} alt="Search">
                        <span class="svg-icon"><svg viewBox="0 0 512 512" width="18" height="18"><use href="#search"></use></svg>&nbsp;</span>
                        <span class="u-underline">Search</span>
                    </a>
                </div>
                <div class="top-nav-link u-d-none-md">
                    <a class="top-nav-link-a u-pointer" id="menu" role="button" alt="Menu">
                        <span class="svg-icon"><svg viewBox="0 0 448 512" width="18" height="18"><use href="#bar"></use></svg>&nbsp&nbsp;</span>
                        <span class="u-underline">Menu</span>
                    </a>
                </div>
            </div>
        </nav>

    </div>

    <div id="top-nav-toc" class="top-nav-toc u-d-none">
        {% for li0 in include.docs %}
        <h3>{{ li0.title }}</h3>
        <ul>
            {% for li1 in li0.items %}
            <li>
                {% if li1.url %}
                    <a href="{{ li1.url }}">{{ li1.title }}</a>
                {% else %}
                    {% capture url %}{{ li1.path }}{% endcapture %}
                    <a {% if li1.title == include.title %}class="current"{% endif %} href="{{ url | prepend: site.baseurl }}">{{ li1.title }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endfor %}

    </div>

    <div class="u-invisible">
        {% include search-icon.svg %}
        {% include bar-icon.svg %}
        {% include moon-icon.svg %}
        {% include sun-icon.svg %}
        {% include github-alt.svg %}
    </div>
</div>


