@import "colors";
@import "variables";

pre {
  background-color: $code-background-color-light;
  background-color: var(--code-background-color);
  // Wrapping long code line inside code.
  //white-space: pre-wrap; // css-3
  //word-wrap: break-word; // Internet Explorer 5.5+
  margin: $m2 0;
  padding: $m2;
  word-wrap: normal;
  overflow-x: auto;
  white-space: pre;
}

pre, code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono"," Courier New", monospace;
  font-size: 1rem; // 16px

  // A tester:
  // font-family: ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace;
  //  font-size: 0.95rem; // 16px

}

///* Add line numbers to Hurl snippets */
//pre {
//  counter-reset: line;
//}
//
//.language-hurl {
//}
//
//.line {
//  counter-increment: line;
//}
//
//.line:before {
//  content: counter(line);
//  color: lighten(#393939, 20%);
//  display: inline-block;
//  width: 2em;
//  pointer-events: none;
//  -webkit-user-select: none;
//  -webkit-touch-callout: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  border-right: 1px solid lighten(#393939, 20%);
//  margin-right: 0.5rem;
//}

.language-hurl {
  color: $body-text-light;
  color: var(--body-text);
  .string {
    color: $hurl-string-light;
    color: var(--hurl-string);
  }
  .name {
    color: $hurl-name-light;
    color: var(--hurl-name);
  }
  .multiline {
    color: $hurl-string-light;
    color: var(--hurl-string);
  }
  .number {
    color: $hurl-number-light;
    color: var(--hurl-number);
  }
  .unit {
    color: $hurl-number-light;
    color: var(--hurl-number);
  }
  .boolean {
    color: $hurl-boolean-light;
    color: var(--hurl-boolean);
  }
  .null {
    color: $hurl-null-light;
    color: var(--hurl-null);
  }
  .json {
    color: $hurl-json-light;
    color: var(--hurl-json);
  }
  .xml {
    color: $hurl-xml-light;
    color: var(--hurl-xml);
  }
  .hex {
    color: $hurl-hex-light;
    color: var(--hurl-hex);
  }
  .base64 {
    color: $hurl-base64-light;
    color: var(--hurl-base64);
  }
  .filename {
    color: $hurl-filename-light;
    color: var(--hurl-filename);
  }
  .url {
    color: $hurl-url-light;
    color: var(--hurl-url);
  }
  .method {
    color: $hurl-method-light;
    color: var(--hurl-method);
  }
  .version {
    color: $hurl-version-light;
    color: var(--hurl-version);
  }
  .regex {
    color: $hurl-regex-light;
    color: var(--hurl-regex);
  }
  .section-header {
    color: $hurl-section-header-light;
    color: var(--hurl-section-header);
  }
  .query-type {
    color: $hurl-query-type-light;
    color: var(--hurl-query-type);
  }
  .filter-type {
    color: $hurl-filter-type-light;
    color: var(--hurl-filter-type);
  }
  .not {
    color: $hurl-not-light;
    color: var(--hurl-not);
  }
  .predicate-type {
    color: $hurl-predicate-type-light;
    color: var(--hurl-predicate-type);
  }
  .comment {
    color: $hurl-comment-light;
    color: var(--hurl-comment);
  }
}

.language-bash {
  .comment-hashbang {
    font-weight: bold;
  }
  .comment-single {
    color: $bash-comment-single-light;
    color: var(--bash-comment-single);
  }
  .keyword {
    color: $bash-keyword-light;
    color: var(--bash-keyword);
  }
  .literal-number {
    color: $bash-literal-number-light;
    color: var(--bash-literal-number);
  }
  .literal-string-double {
    color: $bash-literal-string-double-light;
    color: var(--bash-literal-string-double);
  }
  .name-builtin {
    color: $bash-name-builtin-light;
    color: var(--bash-name-builtin);
  }
}

.language-shell {
  .prompt {
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $shell-prompt-light;
    color: var(--shell-prompt);
  }
  .bold {
    font-weight: bold;
  }
  .blue {
    color: $ansi-blue-light;
    color: var(--ansi-blue);
  }
  .cyan {
    color: $ansi-cyan-light;
    color: var(--ansi-cyan);
  }
  .green {
    color: $ansi-green-light;
    color: var(--ansi-green);
  }
  .gray {
    color: $ansi-gray-light;
    color: var(--ansi-gray);
  }
  .yellow {
    color: $ansi-yellow-light;
    color: var(--ansi-yellow);
  }
  .bright-cyan {
    color: $ansi-bright-cyan-light;
    color: var(--ansi-bright-cyan);
    font-weight: bold;
  }
  .bright-green {
    color: $ansi-bright-green-light;
    color: var(--ansi-bright-green);
    font-weight: bold;
  }
  .bright-red {
    color: $ansi-bright-red-light;
    color: var(--ansi-bright-red);
    font-weight: bold;
  }
  .bright-blue {
    color: $ansi-bright-blue-light;
    color: var(--ansi-bright-blue);
    font-weight: bold;
  }
  .bright-magenta {
    color: $ansi-bright-magenta-light;
    color: var(--ansi-bright-magenta);
    font-weight: bold;
  }
}

.language-rust {
  .comment-single {
    color: $rust-comment-single-light;
    color: var(--rust-comment-single);
  }
  .keyword {
    color: $rust-keyword-light;
    color: var(--rust-keyword);
  }
  .literal-number {
    color: $rust-literal-number-light;
    color: var(--rust-literal-number);
  }
  .literal-string-double {
    color: $rust-literal-string-double-light;
    color: var(--rust-literal-string-double);
  }
  .literal-constant {
    color: $rust-literal-constant-light;
    color: var(--rust-literal-constant);
  }
  .name-builtin {
    color: $rust-name-builtin-light;
    color: var(--rust-name-builtin);
  }
}

