// Colors

$dark-grey: #8c8c8c;
$medium-grey: #b3b3b3;
$light-grey: #f0f0f0;

// Light theme - default
$background-color-light: #fff;
$primary-color-light: #ff0288;
$secondary-color-light: royalblue;
$body-text-light: #222;
$footer-background-color-light: #f0f0f0;
$code-background-color-light: #f5f5f5;
$separator-color-light: #b3b3b3;
$marked-background-light: #fdff00;
$marked-text-light: #222;
$row-n0-light: #f5f5f5;
$row-n1-light: $background-color-light;


$hurl-string-light: darkgreen;
$hurl-regex-light: darkgreen;
$hurl-name-light: darkgreen;
$hurl-raw-light: darkgreen;
$hurl-number-light: blue;
$hurl-boolean-light: blue;
$hurl-null-light: blue;
$hurl-json-light: darkgreen;
$hurl-xml-light: darkgreen;
$hurl-hex-light: darkgreen;
$hurl-base64-light: darkgreen;
$hurl-filename-light: darkgreen;
$hurl-url-light: darkblue;
$hurl-method-light: #222;
$hurl-version-light: #222;
$hurl-section-header-light: darkmagenta;
$hurl-query-type-light: teal;
$hurl-subquery-type-light: darkblue;
$hurl-not-light: darkblue;
$hurl-predicate-type-light: darkblue;
$hurl-comment-light: dimgray;
$bash-comment-single-light: dimgray;
$bash-keyword-light: teal;
$bash-literal-number-light: blue;
$bash-literal-string-double-light: darkgreen;
$bash-name-builtin-light: teal;
$shell-prompt-light: dimgray;

$schema-token-1-light: #0000ff;
$schema-token-2-light: #009900;
$schema-token-3-light: #ff8000;

$hurl-structure-0-front-light: #ff0288;
$hurl-structure-0-back-light: $code-background-color-light;
$hurl-structure-1-front-light: #009900;
$hurl-structure-1-back-light: $code-background-color-light;
$hurl-structure-2-front-light: #ff8000;
$hurl-structure-2-back-light: $code-background-color-light;
$hurl-structure-3-front-light: dodgerblue;
$hurl-structure-3-back-light: $code-background-color-light;

// Dark theme
$background-color-dark: #19191c;
$primary-color-dark: #ff0288;
$secondary-color-dark: #34a7ff;
$body-text-dark: #c2c2c2;
$footer-background-color-dark: #0a0a0a;
$code-background-color-dark: #27272c;
$separator-color-dark: #444;
$marked-background-dark: #fdff00;
$marked-text-dark: #222;
$row-n0-dark: #27272c;
$row-n1-dark: $background-color-dark;

$hurl-string-dark: forestgreen;
$hurl-regex-dark: forestgreen;
$hurl-name-dark: forestgreen;
$hurl-raw-dark: forestgreen;
$hurl-number-dark: dodgerblue;
$hurl-boolean-dark: dodgerblue;
$hurl-null-dark: dodgerblue;
$hurl-json-dark: forestgreen;
$hurl-xml-dark: forestgreen;
$hurl-hex-dark: forestgreen;
$hurl-base64-dark: forestgreen;
$hurl-filename-dark: forestgreen;
$hurl-url-dark: cyan;
$hurl-method-dark: orange;
$hurl-version-dark: white;
$hurl-section-header-dark: magenta;
$hurl-query-type-dark: cyan;
$hurl-subquery-type-dark: orange;
$hurl-not-dark: orange;
$hurl-predicate-type-dark: orange;
$hurl-comment-dark: dimgray;
$bash-comment-single-dark: dimgray;
$bash-keyword-dark: #ff8000;
$bash-literal-number-dark: dodgerblue;
$bash-literal-string-double-dark: forestgreen;
$bash-name-builtin-dark: #ff8000;
$shell-prompt-dark: dimgray;

$schema-token-1-dark: #007fff;
$schema-token-2-dark: #009900;
$schema-token-3-dark: #ff8000;

$hurl-structure-0-front-dark: #ff0288;
$hurl-structure-0-back-dark: $code-background-color-dark;
$hurl-structure-1-front-dark: #009900;
$hurl-structure-1-back-dark: $code-background-color-dark;
$hurl-structure-2-front-dark: #ff8000;
$hurl-structure-2-back-dark: $code-background-color-dark;
$hurl-structure-3-front-dark: dodgerblue;
$hurl-structure-3-back-dark: $code-background-color-dark;

@mixin light {
  --background-color: #{$background-color-light};
  --primary-color: #{$primary-color-light};
  --body-text: #{$body-text-light};
  --secondary-color: #{$secondary-color-light};
  --code-background-color: #{$code-background-color-light};
  --footer-background-color: #{$footer-background-color-light};
  --separator-color: #{$separator-color-light};
  --hurl-string: #{$hurl-string-light};
  --hurl-regex: #{$hurl-regex-light};
  --hurl-name: #{$hurl-name-light};
  --hurl-raw: #{$hurl-raw-light};
  --hurl-number: #{$hurl-number-light};
  --hurl-boolean: #{$hurl-boolean-light};
  --hurl-null: #{$hurl-null-light};
  --hurl-json: #{$hurl-json-light};
  --hurl-xml: #{$hurl-xml-light};
  --hurl-hex: #{$hurl-hex-light};
  --hurl-base64: #{$hurl-base64-light};
  --hurl-filename: #{$hurl-filename-light};
  --hurl-url: #{$hurl-url-light};
  --hurl-method: #{$hurl-method-light};
  --hurl-version: #{$hurl-version-light};
  --hurl-section-header: #{$hurl-section-header-light};
  --hurl-query-type: #{$hurl-query-type-light};
  --hurl-subquery-type: #{$hurl-subquery-type-light};
  --hurl-not: #{$hurl-not-light};
  --hurl-predicate-type: #{$hurl-predicate-type-light};
  --hurl-comment: #{$hurl-comment-light};
  --bash-comment-single: #{$bash-comment-single-light};
  --bash-keyword: #{$bash-keyword-light};
  --bash-literal-number: #{$bash-literal-number-light};
  --bash-literal-string-double: #{$bash-literal-string-double-light};
  --bash-name-builtin: #{$bash-name-builtin-light};
  --shell-prompt: #{$shell-prompt-light};
  --marked-background: #{$marked-background-light};
  --marked-text: #{$marked-text-light};
  --row-n0: #{$row-n0-light};
  --row-n1: #{$row-n1-light};
  --schema-token-1: #{$schema-token-1-light};
  --schema-token-2: #{$schema-token-2-light};
  --schema-token-3: #{$schema-token-3-light};
  --hurl-structure-0-front: #{$hurl-structure-0-front-light};
  --hurl-structure-0-back: #{$hurl-structure-0-back-light};
  --hurl-structure-1-front: #{$hurl-structure-1-front-light};
  --hurl-structure-1-back: #{$hurl-structure-1-back-light};
  --hurl-structure-2-front: #{$hurl-structure-2-front-light};
  --hurl-structure-2-back: #{$hurl-structure-2-back-light};
  --hurl-structure-3-front: #{$hurl-structure-3-front-light};
  --hurl-structure-3-back: #{$hurl-structure-3-back-light};

  .light-img {
    display: inline-block;
  }
  .dark-img {
    display: none;
  }
}

@mixin dark {
  --background-color: #{$background-color-dark};
  --primary-color: #{$primary-color-dark};
  --body-text: #{$body-text-dark};
  --secondary-color: #{$secondary-color-dark};
  --code-background-color: #{$code-background-color-dark};
  --footer-background-color: #{$footer-background-color-dark};
  --separator-color: #{$separator-color-dark};
  --hurl-string: #{$hurl-string-dark};
  --hurl-regex: #{$hurl-regex-dark};
  --hurl-name: #{$hurl-name-dark};
  --hurl-raw: #{$hurl-raw-dark};
  --hurl-number: #{$hurl-number-dark};
  --hurl-boolean: #{$hurl-boolean-dark};
  --hurl-null: #{$hurl-null-dark};
  --hurl-json: #{$hurl-json-dark};
  --hurl-xml: #{$hurl-xml-dark};
  --hurl-hex: #{$hurl-hex-dark};
  --hurl-base64: #{$hurl-base64-dark};
  --hurl-filename: #{$hurl-filename-dark};
  --hurl-url: #{$hurl-url-dark};
  --hurl-method: #{$hurl-method-dark};
  --hurl-version: #{$hurl-version-dark};
  --hurl-section-header: #{$hurl-section-header-dark};
  --hurl-query-type: #{$hurl-query-type-dark};
  --hurl-subquery-type: #{$hurl-subquery-type-dark};
  --hurl-not: #{$hurl-not-dark};
  --hurl-predicate-type: #{$hurl-predicate-type-dark};
  --hurl-comment: #{$hurl-comment-dark};
  --bash-comment-single: #{$bash-comment-single-dark};
  --bash-keyword: #{$bash-keyword-dark};
  --bash-literal-number: #{$bash-literal-number-dark};
  --bash-literal-string-double: #{$bash-literal-string-double-dark};
  --bash-name-builtin: #{$bash-name-builtin-dark};
  --shell-prompt: #{$shell-prompt-dark};
  --marked-background: #{$marked-background-dark};
  --marked-text: #{$marked-text-dark};
  --row-n0: #{$row-n0-dark};
  --row-n1: #{$row-n1-dark};
  --schema-token-1: #{$schema-token-1-dark};
  --schema-token-2: #{$schema-token-2-dark};
  --schema-token-3: #{$schema-token-3-dark};
  --hurl-structure-0-front: #{$hurl-structure-0-front-dark};
  --hurl-structure-0-back: #{$hurl-structure-0-back-dark};
  --hurl-structure-1-front: #{$hurl-structure-1-front-dark};
  --hurl-structure-1-back: #{$hurl-structure-1-back-dark};
  --hurl-structure-2-front: #{$hurl-structure-2-front-dark};
  --hurl-structure-2-back: #{$hurl-structure-2-back-dark};
  --hurl-structure-3-front: #{$hurl-structure-3-front-dark};
  --hurl-structure-3-back: #{$hurl-structure-3-back-dark};

  .light-img {
    display: none;
  }
  .dark-img {
    display: inline-block;
  }
}


html, html[data-theme="light"] {
  @include light;
}

html[data-theme="dark"] {
  @include dark;
}

@media (prefers-color-scheme: dark) {
  html, html[data-theme="dark"] {
    @include dark;
  }

  html[data-theme="light"] {
    @include light;
  }
}
