@import "colors";
@import "variables";

.schema-container {
  //font-family: Menlo, Monaco, Consolas, "Liberation Mono"," Courier New", monospace;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -$m2;
  margin-right: -$m2;
}

.schema {
  display: inline-block;
  height: 120px;
  margin: 1em auto;
}

.schema-token {
  position: relative;
}

.schema-color-1  {
  color: $schema-token-1-light;
  color: var(--schema-token-1);
}

.schema-color-2 {
  color: $schema-token-2-light;
  color: var(--schema-token-2);
}

.schema-color-3 {
  color: $schema-token-3-light;
  color: var(--schema-token-3);
}

.schema-token::after {
  content: "";
  position: absolute;
  top: 2.2rem;
  width: 94%;
  left: 3%;
  height: 0.5em;
  border-bottom: 2px solid $body-text-light;
  border-left: 1px solid $body-text-light;
  border-right: 1px solid $body-text-light;
  border-bottom: 2px solid var(--body-text);
  border-left: 1px solid var(--body-text);
  border-right: 1px solid var(--body-text);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.schema-label {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: $body-text-light;
  color: var(--body-text);
  position: absolute;
  top: 3.4rem;
  left: 3%;
  width: 94%;
  text-align: center;
  font-size: 75%;
}

// Hurl File Format structure

.hurl-structure-schema {
  margin-top: $m6;
  margin-bottom: $m6;
  @media only screen and (min-width: $md) {
    margin: $m6 $m4;
  }
}

.hurl-structure {
  display: flex;
}

.hurl-structure-col-0 {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", " Courier New", monospace;
  font-size: 0.85rem;
  @media only screen and (min-width: $md) {
    font-size: 1rem;
  }
  line-height: 1.5;
}

.hurl-structure-col-1 {
  width:50%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 0.85rem;
  @media only screen and (min-width: $md) {
    font-size: 1rem;
  }
  line-height: 1.5;
}


.hurl-request-part-0 {
  background-color: $hurl-structure-0-back-light;
  background-color: var(--hurl-structure-0-back);
  color: $hurl-structure-0-front-light;
  color: var(--hurl-structure-0-front);
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: $hurl-structure-0-front-light;
  border-color: var(--hurl-structure-0-front);
  padding: 10px 10px 2px;
  border-bottom: dashed 1px;
  border-bottom-color: #8c8c8c;

}

.hurl-request-explanation-part-0 {
  padding: 10px 10px 2px;
}

.hurl-request-part-1 {
  background-color: $hurl-structure-1-back-light;
  background-color: var(--hurl-structure-1-back);
  color: $hurl-structure-1-front-light;
  color: var(--hurl-structure-1-front);
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: $hurl-structure-1-front-light;
  border-color: var(--hurl-structure-1-front);
  padding: 2px 10px;
  border-bottom: dashed 1px;
  border-bottom-color: #8c8c8c;
}

.hurl-request-explanation-part-1 {
  padding: 2px 10px;
}

.hurl-request-part-2 {
  background-color: $hurl-structure-2-back-light;
  background-color: var(--hurl-structure-2-back);
  color: $hurl-structure-2-front-light;
  color: var(--hurl-structure-2-front);
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: $hurl-structure-2-front-light;
  border-color: var(--hurl-structure-2-front);
  padding: 1px 10px;
}

.hurl-request-explanation-part-2 {
  padding: 2px 10px;
}

.hurl-request-part-3 {
  background-color: $hurl-structure-3-back-light;
  background-color: var(--hurl-structure-3-back);
  color: $hurl-structure-3-front-light;
  color: var(--hurl-structure-3-front);
  border-left: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: $hurl-structure-3-front-light;
  border-color: var(--hurl-structure-3-front);
  padding: 2px 10px;
  border-top: dashed 1px;
  border-top-color: #8c8c8c;
}

.hurl-request-explanation-part-3 {
  padding: 2px 10px;
}