@import "variables";

.u-d-block-md {
  display: none;
  @media only screen and (min-width: $md) {
    display: block;
  }
}

.u-d-block-lg {
  display: none;
  @media only screen and (min-width: $lg) {
    display: block;
  }
}

.u-d-none-md {
  display: block;
  @media only screen and (min-width: $md) {
    display: none;
  }
}

.u-d-none {
  display: none;
}

.u-underline {
  text-decoration: underline;
}

.u-pointer {
  cursor: pointer;
}

.u-align-center {
  text-align: center;
}

.u-font-size-0 {
  font-size: 1rem;
}

.u-font-size-1 {
  font-size: 1.125rem;
}

.u-font-size-1-sm {
  @media only screen and (min-width: $sm) {
    font-size: 1.125rem;
  }
}

.u-font-size-1-md {
  @media only screen and (min-width: $md) {
    font-size: 1.125rem;
  }
}

.u-font-size-2 {
  font-size: 1.25rem;
}

.u-font-size-2-sm {
  @media only screen and (min-width: $sm) {
    font-size: 1.25rem;
  }
}

.u-font-size-2-md {
  @media only screen and (min-width: $md) {
    font-size: 1.25rem;
  }
}

.u-font-size-3 {
  font-size: 1.5rem;
}

.u-font-size-3-sm {
  @media only screen and (min-width: $sm) {
    font-size: 1.5rem;
  }
}

.u-font-size-3-md {
  @media only screen and (min-width: $md) {
    font-size: 1.5rem;
  }
}

.u-drop-shadow {
  box-shadow: 0 4px 8px -8px gray;
}

.u-border {
  border: 1px solid $separator-color-light;
  border: 1px solid var(--separator-color);
}

.u-list-style-none {
  list-style-type: none;
}

.u-invisible {
  display: block;
  position: absolute;
  height: 0; width: 0;
  margin: 0; padding: 0;
  border: none;
  overflow: hidden;
}

.u-mt-4 {
  margin-top: $m4;
}

.u-greyed {
  color: $dark-grey;
}

.u-max-width-100 {
  max-width: 100%;
}