@import "reset";
@import "variables";
@import "colors";
@import "boxsizing";
@import "utilities";

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.125rem; /* 18 px */
  //@media only screen and (max-width: $sm) {
  //  font-size: 1rem;
  //}
  line-height: 1.4;
  background-color: $background-color-light;
  background-color: var(--background-color);
  color: $body-text-light;
  color: var(--body-text);
}

a, a:visited, a:focus, a:hover, a:active{
  color: $secondary-color-light;
  color: var(--secondary-color);
}

a[aria-selected="true"] {
  color: $primary-color-light;
  color: var(--primary-color);
}

// Make title all linkable
h1 {
  a, a:visited, a:focus, a:hover, a:active {
    color: $primary-color-light;
    color: var(--primary-color);
    text-decoration: none;
  }
}
h2, h3, h4, h5, h6 {
  a, a:visited, a:focus, a:hover, a:active {
    color: $body-text-light;
    color: var(--body-text);
    text-decoration: none;
  }
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

h1 {
  font-size: 2.5rem; /* 40px */
  font-weight: 700;
  color: $primary-color-light;
  color: var(--primary-color);
  margin: $m5 0 $m3;
}
h1:first-child{
  margin-top: 0;
}

h2 {
  margin: $m6 0 $m2;
}

h3 {
  margin: $m5 0 $m2;
}

p {
  margin-bottom: $m2;
}

ul, ol {
  padding-left: 40px;
  margin-bottom: $m2;
}

blockquote {
  border-left: 4px solid;
  border-left-color: $separator-color-light;
  border-left-color: var(--separator-color);
  padding-left: $m2;
  color: $dark-grey;
  margin-top: $m3;
  margin-bottom: $m3;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.top-nav {
  padding: $m2;
}

.top-nav-header {
  display: flex;
  justify-content: flex-end;
}

.top-nav-logo {
  margin-right: auto;
}

.top-nav-logo-img {
  source, img {
    width: 120px;
    @media only screen and (max-width: 320px) {
      width: 80px;
    }
  }
}

.top-nav-links {
  display: flex;
  font-weight: bold;
  color: $secondary-color-light;
  color: var(--secondary-color);
}

.top-nav-link {
  margin-left: $m2;
}

.top-nav-toc {
  ul {
    padding: 0;
  }
  ul li {
    list-style-type: none;
    margin-bottom: $m1;
  }
  border-bottom: 1px solid;
  border-bottom-color: $separator-color-light;
  border-bottom-color: var(--separator-color);
  padding-bottom: $m2;
}

.side-nav {
  details summary {
    cursor: pointer;
  }

  details summary > * {
    display: inline;
  }
  details {
    margin: $m5 0 $m2;
  }
  details summary {
    margin-bottom: $m2;
  }
  details:first-child{
    margin-top: 0;
  }

  width: 20%;
  ul {
    padding: 0;
  }
  ul li {
    list-style-type: none;
    margin-bottom: $m1;
  }
  padding: $m2 $m2 $m2 0;
}

.side-nav-toc-toplevel {
  top: 0;
  position: sticky;
}

footer {
  border-top: 1px solid;
  border-top-color: $separator-color-light;
  border-top-color: var(--separator-color);
  color: $dark-grey;
  background-color: $footer-background-color-light;
  background-color: var(--footer-background-color);
  margin-top: $m5;
}

.footer {
  display:flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: $m4 $m2;
}

.footer-rev {
  cursor: pointer;
}

.footer-dev-by {
  margin-left: auto;
}

.home {
  display: flex;
  padding: $m2;
}

.home-content {
  padding: 0;
  width: 100%;
  @media only screen and (min-width: $md) {
    padding: $m2;
    width: 768px;
  }
}

.doc {
  display: flex;
  padding: $m2;
}

.doc-content {
  padding: 0;
  width: 100%;
  @media only screen and (min-width: $md) {
    padding: $m2;
    width: 80%;
  }
  @media only screen and (min-width: $lg) {
    padding: $m2;
    width: 70%;
  }
}

.doc-content-edit-page {
  text-align: right;
  margin: $m4 0;
}

.doc-content-browse {
  display: flex;
  margin-top: $m5;
}

.doc-content-browse-next {
  margin-left: auto;
}

.doc-toc {
  font-size: 0.9rem;
  padding: $m2;
  color: $medium-grey;
  width: 15%;
  h3:first-child{
    margin-top: 0;
  }
  ul {
    padding: 0;
  }
  ul li {
    list-style-type: none;
    margin: $m1 0;
  }
  ul li ul li {
    margin-left: $m1;
  }
  a, a:visited, a:focus, a:hover, a:active {
    color: $dark-grey;
  }
}

.search {
  margin: 0 auto;
  padding: $m2;
  ul {
    padding: 0;
  }
  ul li {
    list-style-type: none;
    margin-bottom: $m5;
    margin-left: $m4;
  }
}

.search-results {
  max-width: 768px;
}

.search-result-link {
  font-size: 1.375rem;
  font-weight: bold;
}

#search-input {
  font-size: 1.125rem; /* 18 px */
  min-width: 50%;
}

.marked {
  background-color: $marked-background-light;
  background-color: var(--marked-background);
  color: $marked-text-light;
  color: var(--marked-text);
  font-weight: bold;
}

.drawing {
  text-align: center;
  source, img {
    max-width: 100%;
    @media only screen and (max-width: 320px) {
    }
  }
}

table {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  border-collapse: collapse;
}

th, td {
  border-width: 1px;
  border-style: solid;
  border-color: $separator-color-light;
  border-color: var(--separator-color);
}

th {
  background-color: $row-n0-light;
  background-color: var(--row-n0);
  padding: $m2;
}

td {
  padding: $m2;
}

table tr:nth-child(2n) {
  background-color: $row-n0-light;
  background-color: var(--row-n0);
}

table tr:nth-child(2n+1) {
  background-color: $row-n1-light;
  background-color: var(--row-n1);
}


@import "code";
@import "grammar";
