@import "reset";
@import "variables";
@import "colors";
@import "boxsizing";
@import "utilities";

html {
  /* Add some space to the anchor */
  scroll-padding-top: 20px;
  @media only screen and (min-width: $md) {
    /* Take fixed header into account */
    scroll-padding-top: 20px + 72px;
  }
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.125rem; /* 18 px */
  line-height: 1.4;
  background-color: $background-color-light;
  background-color: var(--background-color);
  color: $body-text-light;
  color: var(--body-text);
}

a, a:visited, a:focus, a:hover, a:active{
  color: $secondary-color-light;
  color: var(--secondary-color);
}

a[aria-selected="true"] {
  color: $primary-color-light;
  color: var(--primary-color);
  font-weight: bold;
}

// Make title all linkable
h1 {
  a, a:visited, a:focus, a:hover, a:active {
    color: $primary-color-light;
    color: var(--primary-color);
    text-decoration: none;
  }
}

h2, h3, h4, h5, h6 {
  a, a:visited, a:focus, a:hover, a:active {
    color: $body-text-light;
    color: var(--body-text);
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

h1 {
  font-size: 2.5rem; /* 40px */
  font-weight: 700;
  color: $primary-color-light;
  color: var(--primary-color);
  margin: $m7 0 $m3;
}

h1:first-of-type{
  margin-top: 0;
}

h2 {
  margin: $m6 0 $m2;
}

h3 {
  margin: $m5 0 $m2;
}

p {
  margin-bottom: $m2;
}

ul, ol {
  padding-left: 40px;
  margin-bottom: $m2;
}

blockquote {
  border-left: 4px solid;
  border-left-color: $separator-color-light;
  border-left-color: var(--separator-color);
  padding-left: $m2;
  color: $dark-grey;
  margin-top: $m3;
  margin-bottom: $m3;
}

small {
  color: $dark-grey;
}

select {
  font-size: 0.8rem;
  font-weight: bold;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $background-color-light;
  background-color: var(--background-color);
  border-style: solid;
  border-width: 1px;
  border-color: $medium-grey;
  padding: 6px 6px 6px 12px;
  border-radius: 6px;
  color: $medium-grey;
  max-width: 100%;
}

.emoji {
  vertical-align: middle;
  margin-top: -4px;
}

.top-nav {
  padding: $m2;
  @media only screen and (min-width: $md) {
    position: fixed;
    padding-left: $m4;
    padding-right: $m4;
    z-index: 1;
  }
  top: 0;
  width: 100%;
  margin: 0;
  background-color: $background-color-light;
  background-color: var(--background-color);
}

.top-nav-header {
  display: flex;
  justify-content: flex-end;
  height: 37px;
}

.top-nav-logo {
  margin-right: auto;
  line-height: 44px;
}

.top-nav-logo-img {
  source, img {
    width: 120px;
    @media only screen and (max-width: 320px) {
      width: 80px;
    }
  }
}

.top-nav-links {
  display: flex;
  font-weight: bold;
  line-height: 37px;
  color: $secondary-color-light;
  color: var(--secondary-color);
}

.top-nav-link {
  margin-left: $m2;
  fill: currentColor;
}

.top-nav-toc {
  ul {
    padding: 0;
  }
  ul li {
    list-style-type: none;
    margin-bottom: $m1;
  }
}

.top-nav-link-a {
  display: flex;
  text-decoration: none;
}

.svg-icon {
  margin-top: 3px;
}


details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}

/* Height of side nav is 100% less the height of top nav */
.side-nav {
  position: fixed;
  width: 250px;
  @media only screen and (min-width: $lg) {
    width: 300px
  }
  height: calc(100vh - 69px);
  overflow-y: auto;
  padding: $m3 $m2 $m4 $m4;

  details {
    margin: $m5 0 $m2;
  }
  details summary {
    margin-bottom: $m2;
  }
  details:first-child{
    margin-top: 0;
  }

  ul {
    padding: 0;
  }
  ul li {
    list-style-type: none;
    margin-bottom: $m1;
  }

}

footer {
  margin: 0 (-$m2) 0 (-$m2);
}

.footer-content {
  display:flex;
  margin-left: 0;
  margin-top: $m5;
  padding: $m4 $m2;
  color: $dark-grey;
  border-top: 1px solid;
  border-top-color: $separator-color-light;
  border-top-color: var(--separator-color);
  background-color: $footer-background-color-light;
  background-color: var(--footer-background-color);
}



.footer-dev-by {
  margin-left: auto;
}

.home {
  display: flex;
  padding: 0;
  @media only screen and (min-width: $md) {
    margin-top: 72px;
  }
}

.home-logo {
  margin-top: $m4;
  margin-bottom: $m8;
}

.home-picker {
  text-align: right;
  margin-top: $m4;
  margin-bottom: $m1;
}

.home-picker-label {
  font-size: 0.8rem;
  font-weight: bold;
  color: $medium-grey;
}

.home-sample {
  margin-bottom: $m4;
}

.home-content {
  margin-left: 0;
  padding: $m2 $m2 0 $m2;
  width: 100%;
  @media only screen and (min-width: $md) {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
  @media only screen and (min-width: $lg) {
    margin-left: 300px;
    width: calc(85% - 300px);
  }
}

#home-demo {
  margin-top: $m3;
  margin-bottom: $m5;
}

.home-content-col {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto
}

.showcase-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.showcase-item {
  width: 100%;
  margin: 0;
  @media only screen and (min-width: $md) {
    width: 31%;
    margin-left: $m1;
    margin-right: $m1;
  }
}

.showcase-item:first-child {
  @media only screen and (min-width: $md) {
    margin-left: 0;
  }
}

.showcase-item:last-child {
  @media only screen and (min-width: $md) {
    margin-right: 0;
  }
}

.showcase-item-title {
  margin-top: $m2;
}

.doc {
  display: flex;
  padding: 0;
  @media only screen and (min-width: $md) {
    margin-top: 72px;
  }
}

.doc-content {
  margin-left: 0;
  padding: $m2 $m2 0 $m2;
  width: 100%;
  min-height: calc(100vh - 244px);
  @media only screen and (min-width: $md) {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
  @media only screen and (min-width: $lg) {
    margin-left: 300px;
    width: calc(85% - 300px);
  }

}

.doc-content-col {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto
}

.doc-content-edit-page {
  text-align: right;
  margin: $m4 0;
}

.doc-content-browse {
  display: flex;
  margin-top: $m5;
}

.doc-content-browse-next {
  margin-left: auto;
}

.doc-toc {
  position: fixed;
  right: 0;
  font-size: 0.9rem;
  padding: 30px $m2 $m4 $m2;
  color: $medium-grey;
  width: 15%;
  max-height: calc(100% - 64px);
  overflow-y: auto;

  h3:first-child{
    margin-top: 0;
  }
  ul {
    padding: 0;
  }
  ul li {
    list-style-type: none;
    margin: $m1 0;
  }
  ul li ul li {
    margin-left: $m1;
  }
  a, a:visited, a:focus, a:hover, a:active {
    color: $dark-grey;
    width: 100%;
    display: inline-block;
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color: $background-color-light;
    border-right-color: var(--background-color);
  }

  .visible > a {
    color: $primary-color-light;
    color: var(--primary-color);
    border-right-color: $primary-color-light;
    border-right-color: var(--primary-color);
  }
}

.doc-picker {
  text-align: right;
  margin-top: $m2;
  margin-bottom: $m2;
}

.player {
  margin: 0 auto;
  max-width: 800px;
  padding: $m2 $m2 0 $m2;
  @media only screen and (min-width: $md) {
    margin-top: 72px;
    padding: $m2 $m4 0 $m4;
  }
}

.player-content {
  min-height: calc(100vh - (72px + 40px + 90px));
}


.search {
  margin: 0 auto;
  max-width: 800px;
  padding: $m2 $m2 0 $m2;
  @media only screen and (min-width: $md) {
    margin-top: 72px;
    padding: $m2 $m4 0 $m4;
  }
  ul {
    padding: 0;
  }
  ul li {
    margin-bottom: $m5;
    margin-left: $m4;
  }
}

.search-content {
  min-height: calc(100vh - (72px + 40px + 90px));
}

.search-results {
  summary{
    margin-top: $m4;
    margin-bottom: $m4;
  }
}

.search-result-link {
  font-size: 1.375rem;
  font-weight: bold;
}

#search-input {
  font-size: 1.125rem; /* 18 px */
  min-width: 50%;
}

.blog {
  margin: 0 auto;
  max-width: 800px;
  padding: $m2 $m2 0 $m2;
  @media only screen and (min-width: $md) {
    margin-top: 72px;
    padding: $m2 $m4 0 $m4;
  }
}

.blog-content {
  min-height: calc(100vh - (72px + 40px + 90px + 74px));
}

.blog-post-link {
  margin-left: $m2;
}

.blog-post-date {
  color: $medium-grey;
  line-height: 1.25;
  font-size: 1.2rem; /* 40px */
  margin: $m3 0;
  text-align: right;
}

.blog-feed-link {
  display: flex;
  justify-content: end;
  margin: $m4 0;
}

.blog-feed-link .svg-icon {
  color: $secondary-color-light;
  color: var(--secondary-color);
}

.marked {
  background-color: $marked-background-light;
  background-color: var(--marked-background);
  color: $marked-text-light;
  color: var(--marked-text);
  font-weight: bold;
}

.drawing {
  text-align: center;
  source, img {
    max-width: 100%;
    @media only screen and (max-width: 320px) {
    }
  }
}

table {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  border-collapse: collapse;
  margin-top: $m4;
  margin-bottom: $m4;
}

th, td {
  border-width: 1px;
  border-style: solid;
  border-color: $separator-color-light;
  border-color: var(--separator-color);
}

th {
  background-color: $row-n0-light;
  background-color: var(--row-n0);
  padding: 12px $m2;
}

td {
  padding: 12px $m2;
}

table tr:nth-child(2n) {
  background-color: $row-n0-light;
  background-color: var(--row-n0);
}

table tr:nth-child(2n+1) {
  background-color: $row-n1-light;
  background-color: var(--row-n1);
}

svg.defs-only {
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

/* Temporary id, to clean and remove*/
#running-test-1 {
  max-width: 670px;
  width: 100%;
}

#running-test-2 {
  max-width: 380px;
  width: 100%;
}

@import "code";
@import "grammar";
@import "schema";
@import "grid";